<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whu.checky.mapper.MoneyFlowMapper">
    <!--<select id="queryAllScopeMoneyFlow" resultType="com.whu.checky.domain.MoneyFlow">-->
    <!---->
    <!--</select>-->

    <select id="queryUserScopeMoneyFlow" resultType="com.whu.checky.domain.MoneyFlow">
        SELECT * FROM moneyflow
        WHERE (flow_time between date (#{startDate}) and date (#{endDate}))
        AND (to_user_id = #{userid} OR from_user_id=#{userid})
    </select>


</mapper>