<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whu.checky.mapper.PayMapper">
    <select id="queryUserScopePay" resultType="com.whu.checky.domain.Pay">
        SELECT PAY_ID AS payId, PAY_ORDERINFO AS payOrderinfo, PAY_USERID AS payUserid,
        PAY_MONEY AS payMoney, PAY_TYPE AS payType, PAY_TIME AS  payTime,
        PAY_STATE AS payState FROM pay
        WHERE (pay_time between date (#{startDate}) and date (#{endDate}))
        AND (pay_userid=#{userId})
    </select>

    <select id="rechargeList" resultType="com.whu.checky.domain.Pay">
        SELECT PAY_ID AS payId, PAY_ORDERINFO AS payOrderinfo, PAY_USERID AS payUserid, PAY_MONEY AS payMoney,
        PAY_TYPE AS payType, PAY_TIME AS  payTime, PAY_STATE AS payState, payUserName AS payUserName
        FROM    (SELECT pay.*, user.user_name AS `payUserName`
                FROM pay, `user` WHERE pay.PAY_USERID=user.user_id) AS pay_user
        ORDER BY pay_time
        <if test="dateType == 'DESC'">
            DESC
        </if>
        <if test="dateType == 'ASC'">
            ASC
        </if>
        LIMIT #{page},#{pageSize}
    </select>

    <select id="rechargeUser" resultType="com.whu.checky.domain.Pay">
        SELECT PAY_ID AS payId, PAY_ORDERINFO AS payOrderinfo, PAY_USERID AS payUserid, PAY_MONEY AS payMoney,
        PAY_TYPE AS payType, PAY_TIME AS  payTime, PAY_STATE AS payState, payUserName AS payUserName
        FROM    (SELECT pay.*, user.user_name AS `payUserName`
                FROM pay, `user` WHERE pay.PAY_USERID=user.user_id) AS pay_user
        WHERE pay_userid=#{userId} ORDER BY pay_time
        <if test="dateType == 'DESC'">
            DESC
        </if>
        <if test="dateType == 'ASC'">
            ASC
        </if>
        LIMIT #{page},#{pageSize}
    </select>

</mapper>
