<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whu.checky.mapper.TaskMapper">
    <select id="queryUserTasks" resultType="com.whu.checky.domain.Task">
        SELECT task_id AS taskId,user_id AS userId,type_id AS typeId,
        task_title AS taskTitle,task_content AS taskContent,task_start_time AS taskStartTime,
        task_end_time AS taskEndTime,task_state AS taskState,task_money AS taskMoney,
        supervisor_num AS supervisorNum,refund_money AS refundMoney,check_times AS checkTimes,
        check_frec AS checkFrec, match_num AS matchNum, if_test AS ifTest,
        system_benifit AS systemBenifit, check_pass as checkPass, min_pass AS minPass,
        real_pass as realPass, min_check as minCheck, min_check_type as minCheckType,
        supervisor_type as supervisorType, if_area AS ifArea, if_hobby as ifHobby, add_time as addTime
          FROM task WHERE (user_id = #{userId} AND date(#{date})
          between task_start_time and task_end_time)
    </select>
    <select id="getTitleById" resultType="String">
        SELECT task_title
        FROM task
        WHERE task_id=#{taskId}
    </select>


    <select id="queryTaskByUserName" resultType="com.whu.checky.domain.Task">
        SELECT task_id AS taskId,user_id AS userId,type_id AS typeId,
        task_title AS taskTitle,task_content AS taskContent,task_start_time AS taskStartTime,
        task_end_time AS taskEndTime,task_state AS taskState,task_money AS taskMoney,
        supervisor_num AS supervisorNum,refund_money AS refundMoney,check_times AS checkTimes,
        check_frec AS checkFrec, match_num AS matchNum, if_test AS ifTest,
        system_benifit AS systemBenifit, check_pass as checkPass, min_pass AS minPass,
        real_pass as realPass, min_check as minCheck, min_check_type as minCheckType,
        supervisor_type as supervisorType, if_area AS ifArea, if_hobby as ifHobby, add_time as addTime
        WHERE user_id IN
        (select user_id
        from user
        where  user_name LIKE %#{username}%)

    </select>
</mapper>