<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whu.checky.mapper.TypeTagMapper">
        <update id="updateTypeTag">
        UPDATE `type_tag` SET type_id = #{typeId},tag_id = #{tagId}
        WHERE type_id=#{typeId}
        OR tag_id=#{tagId}
        </update>
</mapper>